
/*Classes*/
.top_gray_div_box
{
    background-color: whitesmoke;
    border-style:solid;
    border-color: white;
    margin-top: 0px;
    width: 100%;
    height: 60px;
    position: static;
}

.gray_div_box_sign_up
{
    background-color: whitesmoke;
    height: relative;
    width: 450px;
    margin-left: 900px;
    margin-top: -900px;
    position: static;
}

.btn[name="sign_in"]
{
    margin-left: 1430px;
    margin-top: -70px;
}

/*Globe icon beside the select element*/
.globe
{
    margin-left: 1240px;
    margin-top: -27px;
}


<<<<<<< Updated upstream
=======
/*select element for country*/
.country
{
    width: 200px;
    margin-left: 1270px;
    margin-top: -30px;
}


>>>>>>> Stashed changes


/*IDs*/
#google-header
{
    margin-left: 525px;
    margin-top: 50px;
	font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.664);
}
#logo
{
    width: 90px;
    margin: 15px 15px 0 25px;
}

#google_pics
{
    margin-left: 200px;
    position: static;
    margin-top: -50px;
}
#google_pic_1
{
    width: 500px;
    height: 500px;
}
#google_pic_2
{
    margin-top: 40px;
    margin-left: 30px;
    width: 500px;
    height: 350px;
}
#learn_more
{
    margin-left: 950px;
}



/*Bottom Links (Help, Privacy, etc)*/
#google_link
{
    color: gray;
}
#privacy_and_terms_link
{
    color: gray;
}
#help_link
{
    color: gray;
}




table 
{
    border-spacing: 310px;
}

table, th, td 
{
    padding: 5px;
    padding-bottom: 0px;
    margin-top: -135px;
}



/*Inputs*/
input[name="first"]
{
    width: 200px;
    position: static;
}
input[name="last"]
{
    width: 200px;
    right: 239px;
    position: relative;
    padding-right: 76px;
}
input[name="new_email"]
{
    width: 410px;
    position: static;
}
input[name="password"]
{
   width: 410px;
   position: static;
}
input[name="confirm_password"]
{
   width: 410px;
   position: static;
}
input[name="month"]
{
    width: 160px;
    position: relative;
    padding-right: 76px;
}
input[name="age"]
{
    width: 100px;
    right: 277px;
    position: relative;
    padding-right: 76px;
}
input[name="year"]
{
    width: 125px;
    right: 405px;
    position: relative;
    padding-right: 76px;
}
input[name="phone"]
{
   width: 410px;
   position: static;
}
input[name="current_email"]
{
   width: 410px;
   position: static;
}
input[name="location"]
{
   width: 410px;
   position: static;
}



/*select element for gender*/
.gender
{
    width: 410px;
    position: static;
}



/*Buttons*/
.btn[name="next_step"]
{
   margin-left: 320px;
   margin-bottom: 25px;
}






label 
{
    position: relative;
    display: block;
    padding-right: 76px;
    width: 170px;
    box-sizing: border-box;
}


/*Label for email*/
label::after {
    content: '.' attr(data-domain);
    position: absolute;
    top: 4px;
    left: 300px;
    font-family: arial, helvetica, sans-serif;
    font-size: 17px;
    display: block;
    color: rgba(68, 66, 66, 0.459);
}




/*Capcha*/
div[name="capcha_container"]
{
    background-color: white;
    width: 400px;
}
div[name="capcha_icons"]
{
    word-spacing: 10px;
}
.capcha_verification_pics
{
    background-color: white;
}
#capcha1
{
    margin-left: 15px;
    width: 160px;
    height: 75px;
}
#capcha2
{
    width: 175px;
    height: 50px;
}
#capcha_number
{
    margin-top: 5px;
}
b
{
    font-size: 14px;
}